/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env.*.php
.cache
.rspec
.bundle
.byebug_history
.env.local
.env.*.local
npm-debug.log
yarn-error.log
.php_cs.cache
.php-cs-fixer.cache
dist/
build/
